*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.flex-element{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.content-width{
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
}